<!DOCTYPE html>

{% load static %}

<html xml:lang="en" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% block extra_head %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "css/style.css?v=0" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "css/Bootstrap.css?v=0" %}" type="text/css" media="screen"/>
    <script src="{% static "js/jquery.min.js?v=0" %}" type="text/javascript"></script>
    <script src="{% static "js/platform.js?v=0" %}" type="text/javascript"></script>
    <script src="{% static "js/reconnecting-websocket.min.js?v=0" %}" type="text/javascript"></script>
</head>
<body>
{#<header>#}
{#    <h1>{% block header_text %}{% endblock %}</h1>#}
{#</header>#}
<section>
    {% block content %}
    {% endblock %}
</section>
{% block extra_body %}{% endblock %}
</body>
</html>