{% extends "app_sockets/base.html" %}

{% block title %}Sockets{% endblock %}
{% block header_text %}Sockets{% endblock %}

{% block content %}
    <div class="creds-container">
        <label for="token-text">
            JWT
        </label>
        <input
                placeholder="Token"
                value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjE0ODQzOTQwLCJqdGkiOiIyNTBhOGUzODEwMDk0M2FhYjljMzhlZTgwYzIwM2JhNCIsInVzZXJfaWQiOjEzfQ.9un2Wc3eb29oOuytK_AeD9foaviAEIyqMz5HJQojQp4"
                id="token-text" type="text" required="required"
        />
        <label for="sockets-route">
            SOCKET ROUTE
        </label>
        <div class="routes-block">

            <input
                    placeholder="/sockets/chats/1"
                    value="/sockets"
                    id="sockets-route" type="text" required="required"
            />
            <input type="button" value="connect" id="connect-button">
        </div>
    </div>

    <div class="connections-container">

        <div class="connection">
            <div class="dashboard">
                <div class="connection-status">
                    <label for="disconnect-button">/sockets</label>
                    <input type="button" value="disconnect" id="disconnect-button" data-connection="1">
                </div>
                <ul class="rooms">
                    {% for room in rooms %}
                        <li class="room-link" data-room-id="{{ room.id }}">{{ room.title }}</li>
                    {% empty %}
                    {% endfor %}
                </ul>

                <br>

                <br>
                <input type='number' step='0.000001' placeholder='lon' id='lon'>
                <input type='number' step='0.000001' placeholder='lat' id='lat'>
                <button id="send-location">Send Location</button>
                <br>
                <input placeholder="ID" id="elem-id" type="number" min="1" style="margin-top: 15px; width: 300px"/>
                <input id="register-profile-button" type="button" style="margin-top: 15px" value="register profile"/>
                <br>

            </div>
            <div class="messages" id="messages-history-1">
                <pre id="json"></pre>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_body %}
    <script>
        let protocol = 'ws://';

        protocol = '{{ ws_protocol }}';

        let socket;

        let sendEvent = null;

        let room_id = 0;

        document.getElementById('disconnect-button').onclick = () => {
            if (socket) {
                socket.close();
                socket = null;
            } else {
                return false;
            }
        };
        // Room join/leave
        document.getElementById('register-profile-button').onclick = () => {
            let data = JSON.stringify({
                'eventType': 2,
                'token': document.getElementById('token-text').value,
                'profileId': document.getElementById('elem-id').value
            });

            if (socket) {
                socket.send(data)
            } else {
                return false;
            }
        };

        // Hook up send button to send a message
        document.getElementById('send-location').onclick = () => {
            sendEvent();
        };


        document.getElementById('connect-button').onclick = () => {


            socket = new WebSocket(
                protocol + window.location.host +
                document.getElementById('sockets-route').value +
                '?jwt=' + document.getElementById('token-text').value
            );

            sendEvent = () => {
                if (socket) {
                    let data = JSON.stringify({
                        "eventType": 1,
                        "lat": document.getElementById('lat').value,
                        "lon": document.getElementById('lon').value,
                    }, undefined, 4);

                    let messagesHistoryEl = document.getElementById('messages-history-1');

                    let messageOutcommingHTML = document.createElement('pre');
                    messageOutcommingHTML.className = 'outcomming';
                    messageOutcommingHTML.innerHTML = data;
                    messagesHistoryEl.prepend(messageOutcommingHTML);
                    socket.send(data)

                } else {
                    return false;
                }
            };

            socket.onopen = (event) => {
                {#alert('open');#}
                console.log('Connected to chat socket', event);
            };
            socket.onclose = (event) => {
                {#alert('close');#}
                console.log('Disconnected from chat socket', event);
            };

            socket.onerror = (error) => {
                alert('error');
                console.log('Socket error', error);
            };

            socket.onmessage = function (message) {
                var data = JSON.parse(message.data);
                console.log(data);
                // Handle errors
                if (data.error) {
                    console.log(data.error);
                }
                let messagesHistoryEl = document.getElementById('messages-history-1');

                let messageIncommingHTML = document.createElement('pre');
                messageIncommingHTML.className = 'incomming';
                messageIncommingHTML.innerHTML = JSON.stringify(data, undefined, 4);
                messagesHistoryEl.prepend(messageIncommingHTML);
            };
        };
    </script>
{% endblock %}