{% extends "app_sockets/base.html" %}

{% block title %}Sockets{% endblock %}
{% block header_text %}Sockets{% endblock %}

{% block content %}
    <div class="sockets-container">

        <div class="creds-container mb-10">
            <label for="jwt-token">
                JWT
            </label>
            <input
                    placeholder="Token"
                    value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjE2MDU4MjUwLCJqdGkiOiJjNTkwNzg4MDVhNzI0M2JlODNmYmY5Zjk5Mjc4NThmOSIsInVzZXJfaWQiOjEzfQ.sAPyHybXiyoGb1NGA5KqIFfxwFRvEZGpfHlBpsZlhdQ"
                    id="jwt-token" type="text" required="required"
            />
            <label for="sockets-route">
                SOCKET ROUTE
            </label>
            <div class="routes-block">

                <input
                        placeholder="/sockets/chats/1"
                        value="/sockets"
                        id="sockets-route" type="text" required="required"
                />
                <input type="button" value="add connection" id="connect-button">
            </div>
        </div>

        <div class="connections-container" id="connections"></div>
    </div>

{% endblock %}


{% block extra_body %}
    <script>
        let protocol = 'ws://';
        protocol = '{{ ws_protocol }}';

        let socket;

        let socketConnections = []; // Массив подключенных сокетов


        const disconnect = (connectionId) => {
            const connection = socketConnections.find(e => e.id === connectionId); // Ищем нужное соединение

            if (connection) {
                connection.socket.close(); // Закрываем соединение
                removeClosedConnection(connectionId); // Удаляем закрытое соединение
            } else {
                $('#connections').find(`#${connectionId}`).remove(); // Удаляем из DOM блок соединения
            }
        };

        const removeClosedConnection = (connectionId) => {
            socketConnections = socketConnections.filter(e => e.id !== connectionId);
        };

        const sendMessage = (connectionId) => {
            let data = JSON.stringify(
                JSON.parse( // Парсим полученную JSON-строку из поля ввода тела сообщения
                    document.getElementById(`message-${connectionId}`).value
                )
                , undefined, 4 // Форматируем красиво
            );

            sendEvent(connectionId, data); // Отправляем

        };

        const disableConnectionBlock = (connectionId) => {
            // Отключение кнопок при отсоединении от сокетов
            let connectionBlock = document.getElementById(`${connectionId}`);
            let disconnectButton = document.getElementById(`disconnect-${connectionId}`);

            let buttons = document.getElementsByClassName('action-button');
            for (let b of buttons) {
                b.setAttribute('disabled', 'disabled');
            }

            disconnectButton.value = 'Remove Block';
            connectionBlock.classList.add('closed')
        };

        const addMessageToHistory = (id, data, className = 'system') => {
            let messagesHistoryEl = document.getElementById(`messages-history-${id}`); // Блок истории сообщений

            // Создаем элемент с данными сообщения
            let messageHTML = document.createElement('pre');
            messageHTML.className = className;
            messageHTML.innerHTML = data;
            // Создаем элемент для времени и даты
            let messageDateTime = document.createElement('p');
            messageDateTime.appendChild(document.createTextNode((new Date()).toISOString()));
            messageDateTime.className = 'message-datetime';
            // Создаем блок-контейнер для сообщения
            let messageBlock = document.createElement('div');
            messageBlock.className = 'message-block';

            messageBlock.appendChild(messageDateTime);
            messageBlock.appendChild(messageHTML);

            messagesHistoryEl.prepend(messageBlock); // Добавляем блок в историю
        };

        const sendEvent = (connectionId, data) => {
            addMessageToHistory(connectionId, data, 'outcomming'); // Добавляем в блок истории

            const connection = socketConnections.find(e => e.id === connectionId); // Ищем нужное соединение
            connection.socket.send(data) // Отправляем данные
        };


        const formatMessage = (connectionId, eventType) => {
            let messageBody = document.getElementById(`message-${connectionId}`);

            //eventType из енума SocketEventType
            if (eventType === 1) {
                messageBody.value = JSON.stringify({
                    "eventType": eventType,
                    "lat": 55,
                    "lon": 37,
                }, undefined, 4);
            }


            if (eventType === 2) {
                messageBody.value = JSON.stringify({
                    "eventType": eventType,
                    "attachmentType": null, // 1 - image, 2 - audio, 3 - video
                    "attachmentPreviewUrl": "/media/preview/sample.jpeg",
                    "attachmentUrl": "/media/sample.jpeg",
                    "text": "тестовое сообщение",
                }, undefined, 4);
            }

        };


        const addConnectionBlock = (connectionId, jwt, route) => {
            $('#connections').prepend(
                `<div class="connection mb-10" id="${connectionId}">
                    <div class="dashboard">
                        <div class="connection-status mb-10 pb-10">
                            <div class="jwt">${jwt}</div>
                            <label class="connection-route" for="disconnect-button">${route}</label>
                            <input id="disconnect-${connectionId}" type="button" class="connection-button disconnect-button" value="Disconnect" onclick="disconnect(${connectionId});">
                        </div>
                        <div class="event-options mb-10">
                            <button class="message-type-button" onclick="formatMessage(${connectionId}, 1)">Location</button>
                            <button class="message-type-button" onclick="formatMessage(${connectionId}, 2)">Message</button>
                        </div>
                        <textarea rows="10" id="message-${connectionId}"/>
                        <button class="action-button connection-button" onclick=sendMessage(${connectionId})>Send Data</button>
                    </div>
                    <div class="messages" id="messages-history-${connectionId}"></div>
                </div>`
            )
        };


        document.getElementById('connect-button').onclick = () => {
            let id = Date.now();
            let socket = new WebSocket(
                protocol + window.location.host +
                document.getElementById('sockets-route').value +
                '?jwt=' + document.getElementById('jwt-token').value
            );

            socket.onopen = (event) => {
                console.log('Connected to socket', event);
            };
            socket.onclose = (event) => {
                let data = JSON.stringify({
                    "connection": id,
                    "type": event.type,
                    "code": event.code,
                }, undefined, 4);

                addMessageToHistory(id, data, 'system');

                disableConnectionBlock(id);
                removeClosedConnection(id);

                console.log('Disconnected from socket', event);
            };

            socket.onerror = (error) => {
                let data = JSON.stringify({
                    "connection": id,
                    "error": error,
                }, undefined, 4);

                addMessageToHistory(id, data, 'error');
                console.log('Socket error', error);
            };

            socket.onmessage = function (message) {
                let data = JSON.parse(message.data);
                console.log(data);
                // Handle errors
                if (data.error) {
                    console.log(data.error);
                }

                data = JSON.stringify(data, undefined, 4);

                addMessageToHistory(id, data, 'incomming');
            };

            socketConnections.push(
                {
                    id: id,
                    socket: socket
                }
            );

            addConnectionBlock(
                id,
                document.getElementById('jwt-token').value,
                document.getElementById('sockets-route').value
            );
            return false;
        };
    </script>
{% endblock %}