html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100vh;
}

body {
    line-height: 1;
    font-family: sans-serif;
    height: 100%;
    background-color: #353535;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */

header {
    padding: 20px 0;
    margin: 0 0 40px 0;
    background: #5778C4;
    color: #fff;
}

header h1 {
    width: 800px;
    margin: 0 auto;
    font-size: 40px;
}

header a {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
}

/* Body */
section {
    width: 960px;
    margin: 0 auto;
    height: 100%;
}


*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

p {
    margin: 1em 0 2em 0;
}

.empty {
    color: #666;
    font-style: italic;
}

label {
    margin: 10px 0;
    font-weight: 600;
    color: #469fde;
}

button {
    cursor: pointer;
}

input, button {
    width: 90%;
    background: #545454;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    color: #54c3ce;
    height: 45px;
}

.sockets-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.creds-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    border: 1px dashed #90a6ab;
    padding: 10px;
    margin-top: 10px;
}

.routes-block {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.routes-block input, .routes-block button {
    width: 40%;
    font-weight: 600;
    font-size: 18px;
}

.connections-container {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-flow: column;
    flex: 1 auto;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #1f775c;
    overflow-y: auto;
}

.connection {
    width: 100%;
    height: 480px;
    border-radius: 7px;
    border: 1px solid #4b655a;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: start;
    box-sizing: border-box;
    padding: 5px;
}

.connection > div {
    flex: 1 1 30%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #6d8e7d;
    padding: 5px;
}

.connection > div:nth-child(odd) {
    border-radius: 5px 0 0 5px;
}

.connection > div:nth-child(even) {
    border-radius: 0 5px 5px 0;
}

.connection.closed {
}

.connection-button {
    width: 100%;
    border-radius: 5px;
    height: 45px;
    font-size: 18px;
}

.connection-button:disabled, .connection-button:disabled:hover {
    background: #c5d0ca;
    border: 2px solid rgba(55, 96, 133, 0.33);
    color: rgba(7, 3, 0, 0.57);
    cursor: not-allowed;
}

.connection-button:hover {
    cursor: pointer;
}

.action-button {
    background: #2dc998;
    border: 2px solid #085960;
    font-weight: 600;
    color: #D5FCE0;
}

.disconnect-button {
    background: #FF7B78;
    color: #ffd9d0;
    border: 2px solid #7A0E3C;
    font-weight: 600;
}

.disconnect-button:hover {
    background: #FF7B78;
    color: #7A0E3C;
}

.action-button:hover {
    background: #8ccab0;
    color: #085960;
}

.connection-status {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.event-options {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.message-type-button {
    width: 40%;
}

.outcomming {
    color: #5BE3B7;
    padding: 5px 5px 5px 15px;
}

.incomming {
    color: #FFA188;
    padding: 5px 5px 5px 15px;
}

.incomming::before, .error::before {
    content: "\2193";
    position: absolute;
    left: 5px;
}

.outcomming::before {
    content: "\2191";
    position: absolute;
    left: 5px;
}

.system {
    color: #868686;
    padding: 5px 5px 5px 15px;
    border: 1px solid #868686;
}

.error {
    color: #FF413A;
    padding: 5px 5px 5px 15px;
    border: 1px solid #DB2A33;
}

.dashboard {
    flex: 3;
}

.messages {
    flex: 2;
}

.dashboard textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: #085664;
    background: #D5FCE0;
    font-family: "Courier New";
}

.connection-route {
    color: #D5FCE0;
    font-weight: 700;
}

.message-block {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border-bottom: 1px dashed lightgray;
}

.message-datetime {
    font-size: 12px;
    color: #5FDCE8;
    margin: 0 0 5px;
    text-decoration: underline;
}

.closed .connection-route {
    color: #ababab;
}

.jwt {
    word-break: break-all;
    font-size: 12px;
    padding: 5px;
    color: #8ccab0;
}